
.countdown-container {
  background-color:var(--white);
  border-radius: 10px;
  padding: 0.5rem;
}

.countdown-units-container{
  margin-left: 2rem;
}

.countdown-numbers {
  background-color: var(--offer-countdown-color);
  color: var(--white);
  padding: 12px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 19px;
  margin-left: 0.7rem;
  margin-right: 0.35rem;
}

@media (max-width: 576px) { 
  .countdown-container {
    padding: 10px;
    margin-top:0px;
  }

  .countdown-units-container{
    margin-left: 0rem;
    margin-top: 5px;
  }
} 