.image-banner-container img {
  max-width: 40rem;
  min-width: 35rem;
}

.offer-title{
  font-size: 3.2rem;
}
.offer-anounce {
  text-align: right;
}

.offer-subtitle{
  font-size: 2rem;
}

.offer-banner {
  border-bottom: 2px solid var(--primary-color);
  background-image: url(https://cdn.evobyte.com.br/bg-card.png);
}


@media (max-width: 576px) { 
  .offer-banner {
    border-bottom: 2px solid var(--primary-color);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .offer-title {
    font-size: 1.5rem;
    text-align: center;
  }
  .offer-subtitle {
    font-size: 1.3rem;
    text-align: center;
  }

  .offer-anounce {
    text-align: center !important;
  }

  .image-banner-container img {
    max-width: none;
    max-height: none;
    min-width: auto;
    width: 100%;
    height: 100%;
  }
} 

