.card-model {
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
  border: 1px solid #c8c8c8;
  border-radius: 8px;
  cursor: pointer;
  /* margin: 10px 10px 10px 10px; */
}

hr:not([size]){
  height: 0px;
}

.btn-rounded {
  border-radius: 25px;
}

.card-image-container {
  background-image: url(https://cdn.evobyte.com.br/bg-card.png);
}
.card-img-top {
  padding: 10px;
  margin-top: 30px;
  object-fit: contain;
  /* background-image: linear-gradient(180deg, #ffffff 44%, #1c1c1ca1 99%); */
  background-position-x: center;
  background-position-y: center;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  min-height: 11rem;
  max-height: 11rem;
}

.card-title {
  color: var(--offer-title-color);
}

.card-price {
  color: var(--offer-price-color);
  font-weight: bold;
}

.card-price-old-value {
  text-decoration: line-through;
}

.card-text {
  font-size: 0.8rem;
}

.card-button {
  font-size: 0.8rem;
  font-weight: 500;
}

.sub-banner-container {
  padding: 10px;
}
.text-conditions {
  font-size: 12px;
  cursor: pointer;
}

.bg-gray {
  background-color: var(--gray);
}

.bg-white {
  background-color: var(--white);
}
.text-primary {
  color: var(--primary-color) !important;
}

.btn-more-model {
  font-size: 20px;
  padding: 10px;
}
.navbar{
  /* background-color: var(--header-background-color) !important; */
}

.navbar-border {
  border-bottom: 2px solid var(--primary-color);
}

.countdown-container {
  list-style-type: none;
}

.countdown-box {
  background-color: var(--offer-countdown-color);
  border-radius: 5px;
  color: white;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding: 3px;
  text-align: center;
  font-size: 10px;
  max-width: 40px;
  margin: 4px;
}

.countdown-box span {
  font-size: 15px;
  font-weight: 400;
}

.countdown p {
  font-size: 13px;
  font-weight: 700;
}

.form-control {
  height: calc(3.1rem + 2px);
  border-radius: 1.25rem;
  padding: 0.5rem 1.5rem;
}

select.form-control {
  height: calc(3.1rem + 2px) !important;
  border-radius: 1.25rem;
  padding: 0.5rem 1.5rem;
}

.custom-model-contact {
  width: 400px;
}

.clickable {
  cursor: pointer;
}

@media (max-width: 576px) {
  .custom-model-contact {
    width: 100%;
    margin: 0px;
  }
}
