body { 
  font-family: 'primary-font' !important;
  color:var(--text-color);
}
h1, h2, h3, b {
  color:var(--title-color);
  font-family: 'primary-font' !important;
}

@font-face {
  font-family: "primary-font";
  src: url("fonts/ToyotaType-Regular.woff") format('woff');
}
@font-face {
  font-family: "primary-font";
  src: url("fonts/ToyotaType-Bold.woff") format('woff');
  font-weight: bold;
}
@font-face {
  font-family: "primary-font";
  src: url("fonts/ToyotaType-Book.woff") format('woff');
  font-weight: 100;
}

.btn-primary{
  background-color: var(--offer-btn-primary-color);
  border-color: var(--offer-btn-primary-color);
  color: var(--offer-btn-primary-text-color);
}
.btn-outline-primary {
  border-color: var(--offer-btn-secondary-color);
  background-color: var(--offer-btn-secondary-color);
  color: var(--offer-btn-secondary-text-color);
}
.btn-outline-primary:hover{
  color:#fff;
  background-color: var(--offer-btn-secondary-color);
  border: 1px solid var(--offer-btn-secondary-color);
}

.card-body-custom {
  min-height: 222px;
}
.card-footer {
  background-color: var(--white);
  border-radius: 0px 0px 10px 10px !important;
  border:none;
}
.header-badges{
  position: absolute;
  padding-left: 6px;
  padding-top: 3px;
}
.card-img-top{
  position: relative;
}

.card-time-border {
  border-top: 5px solid var(--primary-color);
}

.clickable{
  cursor: pointer !important;
}
.badge {
  margin:0px;
  margin-left: 4px;
  background-color: var(--tag-color);
  font-weight: 100;
  font-size: 11px;
  padding: 6px;
}

.shape-fill {
  fill:var(--primary-color);
}

svg {
  height: 150px;
  width: 100%;
}

.footer {
  margin-top: 1rem;
  border-top: 2px solid var(--primary-color);
  background-color: var(--footer-background-color);
  /* margin-bottom: 1rem; */
}
.footer-logo{
  /* max-width: 150px; */
  max-height: 70px;
}

.header-logo {
  /* max-width: 250px; */
  max-height: 70px;
}

.button-offer-lg {
  height: calc(3.1rem + 2px);
}


.checkbox {
  width: 100%;
  margin: 10px 0px;
  position: relative;
  display: block;
}

.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.checkbox label {
  position: relative;
}
.checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 22px;
  height: 22px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid var(--primary-color);
}
.checkbox label:after {
content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 12px;
  left: 10px;
}
.checkbox input[type="checkbox"]:checked ~ label::before {
  color: var(--primary-color);
}

.checkbox input[type="checkbox"]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.checkbox label {
  min-height: 30px;
  display: block;
  padding-left: 30px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  vertical-align: sub;
}
.checkbox label span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: 0;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}
.no-link{
  text-decoration: none !important;
  color: initial !important;
}