.rs-button {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  font-size: 21px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
}
