.rs-card{
  /* width: 17.125rem; */
  width: 100%;
  border-radius: 10px;
}

.rs-card-title{
  font-weight: 500;
  font-size: 16px;
  color: #5C5C5C
}

.rs-full-price {
  color:var(--primary-color);
  font-weight: 700;
  font-size: 24px;
}

.rs-mini-primary-price{
  color:var(--primary-color);
  font-weight: 700;
  font-size: 13px;
}
.rs-card-description-title, i{
  font-size: 12px;
  font-weight: 700;
  color: #5C5C5C;
}

.rs-card-items{
  font-size: 9px;
  text-align: left;
  font-weight: 600;
}