.rs-contact-container {
  width: 80vw;
}

.rs-contact-item {
  background-color: var(--primary-color);
}

.rs-contact-item i,
b {
  color: var(--white);
}

.rs-contact-item-disabled {
  background-color: var(--gray);
}

.rs-contact-locale-name{
  font-weight: 500;
  font-size: 18px;
}

.rs-contact-item-disabled b,
i {
  color: #b5b5b5;
}

.rs-contact-item-right {
  border-bottom: 1px solid gray;
}

.rs-contact-item-right p {
  font-size: 14px;
}

.rs-text-mutted {
  color: #8C8C8C;
}

.rs-contact-hours {
  color: #000000;
}

@media (min-width: 320px) and (max-width: 480px) {
  .rs-contact-container {
    width: 85vw;
  }
}
