.rs-title {
  color: #5C5C5C;
  font-size: 27px;
  font-weight: 500; 
  font-style: normal;
  text-align: left;
}

.rs-title-separator {
  text-align: left;
  margin-left: 0;
  border: none;
  height: 5px;
  color: var(--primary-color); /* old IE */
  background-color: var(--primary-color); /* Modern Browsers */
  width: 10%;
  border-radius: 10px;
}