.rs-container-bordered {
  border-bottom: 3px solid var(--primary-color);
}

.rs-separator{
  border: none;
  height: 7px;
  color: var(--primary-color); /* old IE */
  background-color: var(--primary-color); /* Modern Browsers */
  width: 70%;
  border-radius: 10px;
}
