.rs-navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: var(--background-header-color);
}

.header-logo{
  max-width: 200px;
}

.rs-offer-section {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 60px;
}

.rs-offer-section-left img {
  width: 48px;
  height: 48px;
  margin-right: 14px;
}

.rs-offer-section-right {
  background-color: var(--whatsapp-color);
  width: 200px;
  white-space: pre-wrap;
}

.rs-offer-section-right img {
  /* width: 36px; */
  /* height: 36px; */
  margin-right: 7px;
}

.rs-offer-section-right h4 {
  color:#FFF;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

.rs-nav-link {
  color:#FFF !important;
  font-size: 17px;
  font-weight: 500;
}

.rs-sub-header-section p {
  font-size: 15px;
}

.rs-sub-header-section b {
  font-size: 18px;
  color: #000;
}

.rs-sub-header-section-item{
  margin-bottom: -10px;
}



/* .rs-sub-header {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: var(--background-sub-header-color);
}


.rs-header-logo{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 2.063rem;
  padding-right: 2.063rem;
}

.rs-whatsapp-header {
  background-color: var(--whatsapp-color);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0.813rem;
  padding-right: 0.813rem;
  text-decoration: none;
}

.rs-whatsapp-header h4 {
  font-size: 1rem;
  color: #FFF;
  font-weight: 500;
}
.rs-whatsapp-header img {
  width: 34px;
  height: 34px;
  margin-right: 0.585rem;
}
 */
